
<%- include('../partials/header') %>

<body>
    <h1>Skills</h1>
    <h3>Skills as of <%= time %></h3>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
            <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
      <% }); %>
    </ul> 

<%- include('../partials/footer') %>